@model IEnumerable<AgendaOnline.Models.Consultorio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumSala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caracteristica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caracteristica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidade.UnidadeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdConsultorio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdConsultorio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdConsultorio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
