@model AgendaOnline.Models.Unidade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Unidade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUnidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeUnidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneUnid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneUnid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUnid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUnid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UnidadeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
